body{
  margin: 0;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

video{
  height: 600px;
  position: absolute;
  opacity: .3;
}

@font-face{
  font-family: Overwatch;
  src: url("fonts/BigNoodleToo.ttf");
}

.container{
  display: grid;
  height: 600px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 268px 39px 140px 83px 1fr;
  grid-template-areas: 
    "top"
    "countdown"
    "selections"
    "heroes"
    "select"
}

.selections{
  grid-area: selections;
  display: grid;
  grid-template-columns: repeat(6, 77px);
  justify-content: center;
  grid-column-gap: 29px;
}

.selection{
  background: url(img/hero-portrait.png) no-repeat;
  background-size: 100%;
  background-position: center 10px;
}

.selection .hero{
  width: 100%;
  height: 96px;
  background-repeat: no-repeat;
  background-size: 70%;
  clip-path: polygon(100% 0, 100% 58%, 79% 58%, 78% 68%, 51% 80%, 22% 68%, 23% 61%, 0 60%, 0 0); 
  margin-bottom: 10px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.name{
  font-family: Overwatch;
  font-style: italic;
  font-size: 18px;
  color: #57f2ff;
  margin-right: 3px;
}

.hero-dropdown{
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  transform: scaleY(-1);
}

.hero-dropdown::after{
  content: "^";
  color: #fff;
  font-family: Overwatch;
}